#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 2em;
}

.app {
  padding: 1rem;
}

.error {
  color: red;
}

.form {
  display: flex;
  align-items: center;
}


.submitButton {
  display: block;
  width: 100%;
}